a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.align-left {
  display: inline-block;
}

.align-right {
  display: inline-block;
  float: right;
  padding-right: 30px;
}

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

.content {
  margin: auto;
  width: 50%;
  text-align: center;
  display:block;
  vertical-align: center;
  padding: 150px 0;
}

.searchbar {
  width: 700px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid #000;
  padding-left: 10px;
  box-shadow: none;
}

.searchbutton {
  margin-top: 10px;
  width: 120px;
  height: 40px;
}
